<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB6Bg8_BkEw5PT2TDamznns6GYPGnn_jNg</string>
	<key>GCM_SENDER_ID</key>
	<string>579295691644</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.woolify</string>
	<key>PROJECT_ID</key>
	<string>woolify-4182c</string>
	<key>STORAGE_BUCKET</key>
	<string>woolify-4182c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:579295691644:ios:385a43ea5604c1b57fdaf9</string>
</dict>
</plist>